html,
body,
ul,
p, 
h1,
h2
  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
  color: #ffffff;
  font-size: .8rem;
  list-style: none;
  
}
a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
input {
  border:none;
  margin: 0;
  padding: 0;
  outline: none;
}
textarea {
   border:none;
   outline: none;
   resize: none;
}
