section .slick-dots {
    bottom: 45px !important;
}

section .slick-dots li button:before {
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: 10px !important;
    opacity: 1 !important;
}

section .slick-dots li.slick-active button:before {
    color: white !important;
    opacity: 1 !important;
}
