@font-face {
  font-family: "Open Sans";
  src: url("Fonts/Open_Sans/OpenSans-Regular.ttf");
  src: url("Fonts/Open_Sans/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "Banny";
  src: url("Fonts/Banny-Sans-Serif-Font-Family/TTF/Banny-BoldRound.ttf");
 
}

.main-window {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 800px;
  background: url("images/header-bg.png") no-repeat center center / cover;
  margin: 0 auto;
  color: #ffffff;

}
.main-window__wrapper {
  width: 1440px;
}
.main-window ul {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.main-window ul li {
  width: 133px;
  padding-top: calc(50px - 12px);
  padding-bottom: calc(50px - 12px);
  text-align: center;
}
ul li a {
  color: #ffffff;
}
header {
  display: flex;
  justify-content: space-between;
}

 .logo {
  position: absolute; 
  top: 25px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 150px;
  width: 150px;
}
.main-window__border-line {
  position: absolute;
  left: 50%;
  top: 200px;
  height: 600px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
main {
  display: flex;
  width: 1440px;
  height: 249px;
  justify-content: space-between;
}
.main-window__left-block {
  width: 295px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  height: calc(100vh - 205px);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.main-window__address {
   width: 100%;
   text-align: center;
   transform: rotate(-90deg);
 
}
.main-window__right-block {
  width: 295px;
  height: calc(100vh - 94px);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.main-window__social ul {
  display: flex;
  flex-direction: column;
  width: 62px;
  margin-top: 240px;
  margin-left: 154px;
  border: none;
}
.main-window__social ul li {
  width: 60px;
  height: 60px;
  padding-top: 0;
  padding-bottom: 13px;
}

.main-window__title-block {
  margin-top: 270px;
  width: 849px;
  height: auto;
} 
.main-window__title-block h2{
  text-align: center;
  font-size: .8rem;
  letter-spacing: .5em;
  margin-bottom: -100px;
} 
.main-window__title-block h1 {
  text-align: center;
  font-size: 6rem;
  font-family: "Banny", sans-serif;
  margin-top: 100px;
}
.main-window__button-list {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.main-window__button-list button {
  width: 200px;
  height: 60px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  color: #ffffff;
  font-size: .8rem;
}
.main-window__button-list button:hover {
  background: #eec800;
}
.main-window__button-list button:first-child {
  margin-right: 40px;
}
.main-window__button-down-wrapper img{
  display: block;
  margin: 80px auto;
}
.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 680px;
  margin: 0 auto;
}
.about-us__wrapper {
  display: flex;
  width: 1280px;
  margin: 0 auto;
  height: 475px;
  /* background: #000; */
}
.about-us__left-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background: lightgrey; */
  height: 100%;
  width: 50%;
}
.about-us__text-box {
  width: 600px;
  height: 240px;
  /* background: white; */
}
.about-us__text-box h2 {
  color: black;
  font-family: "Banny", sans-serif;
  font-size: 2.25rem;
  text-align: center;

}
.about-us__text-box p {
  color: black;
  font-family: "Open Sans", serif;
  font-size: 1.125rem;
  text-align: center;
  margin-top: 20px;
}
.about-us__text-box > p:last-child {
  font-size: .875rem;
  margin-top: 20px;
}
.about-us__right-block {
  position: relative;
  height: 100%;
  width: 50%;
  /* background: lightgrey; */
}
.about-us__right-block img {
  position: relative;
  right: 10px;
  bottom: 50px;
}
.about-us__border {
  top: 50%;
  transform: translateY(-50%);
  left: 55%;
} 
.our-team {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 680px;
  background: url("images/specialty\'s-bg.jpg") no-repeat center center / cover;
  margin: 0 auto;
}
.our-team__wrapper {
   position: relative;
   width: 1440px;
   margin: 0 auto;
}
.our-team__header-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  /* border: solid; */
}
.our-team__header-page h2 {
  font-size: .85rem;
  letter-spacing: .5em;
}
.our-team__blocks {
  display: flex;
  height: 575px;
  width: 1440px;
}
.our-team__left-block {
  position: relative;
  width: 50%;
  height: 100%;
  /* background: grey; */
}
.our-team__border {
  position: absolute;
  top: 15%;
  left: 25%;
  transform: translateX(-45%);
  z-index: 2;
}
.our-team__left-block img {
  border-radius: 5px;
  position: relative;
  left:calc(1440px/2 - (475px + 50px));
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.5);
}

.our-team__right-block {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  /* background: lightgrey; */
}
.our-team__text-box {
  /* background: white; */
  width: 600px;
  height: 240px;
  margin-bottom: 50px;
}
.our-team__text-box h2 {
  color: white;
  font-family: "Banny", sans-serif;
  font-size: 2.25rem;
  text-align: center;
  letter-spacing: .5em;
}
.our-team__text-box p {
  color: white;
  font-family: "Open Sans",
  serif;
  font-size: 1.125rem;
  text-align: center;
  margin-top: 20px;
}

.our-team__text-box > p:last-child {
  font-size: .875rem;
  margin-top: 20px;
}
.our-team__line-center {
  position: absolute;
  left: 50%;
  /* top: calc(150% + 15px); */
  height: 680px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.our-team__line-left {
  position: absolute;
  left: 295px;
  bottom: -5px;
  height: 680px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.our-team__line-right {
  position: absolute;
  right: 295px;
  bottom: -5px;
  height: 680px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.book-table {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.book-table__wrapper {
  width: 1440px;
  margin: 0 auto;
  margin-top: 100px;
  /* background: grey; */
  height: 575px;
  /* border: 15px sold black; */
}
.book-table__blocks {
  display: flex;
  justify-content: center;
  width: 1440px;
  height: 475px;
  /* border: 1px solid black; */
}
.book-table__left-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  /* background: lightgrey; */
}
.book-table__text-block {
  height: 350px;
  width: 565px;
  /* background:#BBB5B5; */

}
.book-table h2 {
  font-family: "Banny", sans-serif;
  font-size: 2.2rem;
  color: black;
  text-align: center;
}
.book-table  hr {
  margin-bottom: 25px;
}
.book-table__form {
  display: grid;
  grid-template-columns: 277px 277px;
  gap: 10px;
}
.book-table__form input,
.book-table__form select
{
  height: 60px;
  background: #E5E5E5;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 20px;
  color: #333333;
}

.book-table__form input::placeholder{
  color: #333333;
}


.book-table__button {
  width: 565px;
  margin-top: 10px;
  background-color: #eec800;
}
.book-table__right-block {
  position: relative;
  width: 50%;
  display: flex;
  /* background: white;
  border: 1px solid red;  */
}
.book-table__right-block img {
  border-radius: 5px;
  margin-left: 70px;
  margin-top: 20px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.5);
}

.book-table__border {
  left: 55%;
  transform: translateX(-10%);
  top: 20%;  
}
.block-table__footer {
  height: 50px;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  color: #cccccc;
}
.block-table__footer a{
  color: #999999
}


.specialties {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 680px;
  background: url("images/specialty's-bg1.jpg") no-repeat center center / cover;
  margin: 0 auto;
}

.specialties__wrapper {
  width: 1440px;
  margin: 0 auto;
  position: relative;
}
.specialties__header-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  /* border: solid; */
}

.specialties__header-page h2 {
  font-size: .85rem;
  letter-spacing: 0.5em;
}

.specialties__blocks {
  display: flex;
  height: 575px;
  width: 1440px;
}

.specialties__left-block {
  position: relative;
  width: 50%;
  height: 100%;
  /* background: grey; */
}

.specialties__border {
  position: absolute;
  top: 15%;
  left: 25%;
  transform: translateX(-45%);
  z-index: 2;
}

.specialties__left-block img {
  border-radius: 5px;
  position: relative;
  left: calc(1440px/2 - (475px + 50px));
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.5);
}

.specialties__right-block {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  /* background: lightgrey; */
}

.specialties__text-box {
  /* background: white; */
  width: 600px;
  height: 240px;
  margin-bottom: 50px;
}

.specialties__text-box h2 {
  color: white;
  font-family: "Banny", sans-serif;
  font-size: 2.25rem;
  text-align: center;
}

.specialties__text-box p {
  color: white;
  font-family: "Open Sans",
    serif;
  font-size: 1.125rem;
  text-align: center;
  margin-top: 20px;
}

.specialties__text-box>p:last-child {
  font-size: .875rem;
  margin-top: 20px;
}

.specialties__line-left {
  position: absolute;
  left: 295px;
  bottom: -5px;
  height: 680px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.specialties__line-center {
  position: absolute;
  left: 50%;
  /* top: calc(150% + 15px); */
  height: 680px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.specialties__line-right {
  position: absolute;
  right: 295px;
  bottom: -5px;
  height: 680px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.pancakes {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 680px;
  background: url("images/specialty\'s-bg.jpg") no-repeat center center / cover;
  margin: 0 auto;
}
.pancakes__wrapper {
  position: relative;
  display: flex;
  width: 1280px;
  margin: 0 auto;
  height: 675px;
 }
.pancakes__left-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 50%;
}
.pancakes__text-box {
  width: 600px;
  height: 240px;
}
.pancakes__text-box h2 {
  color: white;
  font-family: "Banny", sans-serif;
  font-size: 2.25rem;
  text-align: center;

}
.pancakes__text-box p {
  color: white;
  font-family: "Open Sans", serif;
  font-size: 1.125rem;
  text-align: center;
  margin-top: 20px;
}
.pancakes__text-box>p:last-child {
  font-size: .875rem;
  margin-top: 20px;
}
.pancakes__right-block {
  position: relative;
  height: 100%;
  width: 50%;
}
.pancakes__right-block img {
  position: relative;
  left: 70px;
  top: 80px;
   border-radius: 5px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.5);
  object-fit: contain;
}
.pancakes__border {
  top: 50%;
  transform: translateY(-50%);
  left: 60%;
} __border {
  top: 50%;
  transform: translateY(-50%);
  left: 55%;
}
.pancakes__line-left {
  position: absolute;
  left: 240px;
  bottom: -5px;
  height: 680px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.pancakes__line-center {
  position: absolute;
  left: 50%;
  /* top: calc(150% + 15px); */
  height: 680px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.pancakes__line-right {
 position: absolute;
 right: 200px;
 bottom: -5px;
 height: 680px;
 border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.delicious-menu {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 720px;
  margin-top: 100px;
}

.delicious-menu__wrapper {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}
.delicious-menu__wrapper h2 {
  color: black;
  font-size: 2.25rem;
  font-family: "Banny", sans-serif;
  text-align: center; 
}
.delicious-menu__wrapper hr {
  margin-bottom: 30px;
}
.delicious-menu__wrapper p {
  color: black;
  font-family: "Open Sans", serif;
  font-size: 1.13rem;
  text-align: center;
  margin-top: 10px;
}
.delicious-menu__name-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 840px;
  height: 50px;
  margin: 50px auto;
}
.delicious-menu__name-list button {
  width: 120px;
  height: 50px;
  font-family: "Open Sans", serif;
  font-size: .75rem;
  color: #333333;
  border: none;
  border-right: 1px solid rgba(51, 51, 51, 0.2);
  
  
}
.delicious-menu__name-list button:last-child {
  border: none;
}
.soup,
.pizza,
.pasta,
.desert, 
.wine,
.beer,
.drinks {
  display: flex;
  display: none;
  justify-content: space-evenly;
  height: 430px;
  width: 100%;
}
.drinks {
  display: flex;
  justify-content: space-evenly;
  height: 430px;
  width: 100%;

}
.delicious-menu__block-right,
.delicious-menu__block-center,
.delicious-menu__block-left {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 430px;

}
.delicious-menu__block-right  div,
.delicious-menu__block-center  div,
.delicious-menu__block-left  div {
  width: 360px;
  height: 60px;
}
.delicious-menu__block-right div p:first-child,
.delicious-menu__block-center div p:first-child,
.delicious-menu__block-left div p:first-child {
  font-family: "Banny", sans-serif;
  font-size: 1.12rem;
  margin-top: 0;
  text-align: start;
}
.delicious-menu__block-right div p:last-child,
.delicious-menu__block-center div p:last-child,
.delicious-menu__block-left div p:last-child {
  font-family: "Open Sans", serif;
  font-size: .75rem;
  color: #b2b2b2;
  text-align: start;
  margin-top: 0;
}

.private-events {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 680px;
  background: url("images/last.jpg") no-repeat center center / cover;
  margin: 0 auto;
}

.private-events__wrapper {
  position: relative;
  width: 1440px;
  margin: 0 auto;
}

.private-events__header-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  /* border: solid; */
}

.private-events__header-page h2 {
  font-size: .85rem;
  letter-spacing: .5em;
}

.private-events__blocks {
  display: flex;
  height: 575px;
  width: 1440px;
}

.private-events__left-block {
  position: relative;
  width: 50%;
  height: 100%;
  /* background: grey; */
}

.private-events__border-left {
  position: absolute;
  top: 15%;
  left: 15%;
  transform: translateX(-45%);
  z-index: 2;
}

.private-events__left-block img {
  border-radius: 5px;
  position: relative;
  left: calc(20% - 20px);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.5);
}

.private-events__right-block {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.private-events__right-block img {
  border-radius: 5px;
  position: relative;
  bottom: 50px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.5);
}
.private-events__border-right {
  position: absolute;
  top: 15%;
  right: -20%;
  transform: translateX(-45%);
  z-index: 2;
} 
.private-events__line-center {
  position: absolute;
  left: 50%;
  /* top: calc(150% + 15px); */
  height: 680px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.private-events__line-left {
  position: absolute;
  left: 295px;
  bottom: -5px;
  height: 680px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.private-events__line-right {
  position: absolute;
  right: 295px;
  bottom: -5px;
  height: 680px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
